/*-----create comment-----*/
.comments_wrap {
  padding: 10px 15px;
}
.create_comment {
  display: flex;
  align-items: center;
  gap: 5px;
}
.create_comment img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.comment_input_wrap {
  position: relative;
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-right: 10px;
  border: 1px solid #ccc;
  background: #fcfbfbf0;

}
.comment_input_wrap input {
  outline: none;
  border: none;
  flex: 1;
  height: 50px;
  padding: 0 15px;
  color: var(--color-primary);
  background: transparent;
  resize: vertical;

}
.comment_circle_icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
/*-----create comment-----*/

/*----Comment-----------*/
.comment {
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin-top: 5px;
}
.comment_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.comment_image {
  margin-top: 5px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.comment_wrap {
  background: var(--bg-forth);
  padding: 5px 15px;
  border-radius: 50px;
}
.comment_actions {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-secondary);
  margin-left: 10px;
}
.view_comments {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-secondary);
}
.view_comments:hover {
  text-decoration: underline;
}
/*----Comment-----------*/
